* {
    font-size: 16px;
}

h1 {
    font-size: 190%;
}

h2 {
    font-size: 170%;
}

h3 {
    font-size: 150%;
}

#img-row {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#chart-area {
    height: 6em;
    width: 60%;
}

.product-image {
    border: 1px solid black;
    margin: 1%;
    max-width: 30%;
    object-fit: contain;
    width: 30%;
}
